.push_notification-settings-wrap h1.page-title{
	padding-left: 20px;
	padding-right: 20px;
}
.push_notification-settings-wrap .push_notification-settings-form{
	padding-left: 20px;
	padding-right: 20px;
}
 section.pn_general_wrapper{
	background-color: #fff;
	height:100%;	
 	margin-top: 35px;
 	border: 1px solid #c3c4c7;
}
.pn_general_wrapper{position: relative;padding: 20px;}
.pn_general_wrapper button i{
	line-height: 26px;
    padding-right: 3px;
}
.pn_general_wrapper .action-wrapper{
	position: absolute;
	right: 20px;
}
.pn-card-wrapper{

}
.pn-card-wrapper .pn-card{
	background: #f1f1f1;
	width: 20%;
	display: inline-block;
	text-align: center;
	padding:10px;
}
.pn-card-wrapper .pn-card .title-name{
	font-size: 20px;
	padding-bottom: 10px;
	font-weight: 600;
	border-bottom: 1px solid #33333357;
}
.pn-card-wrapper .pn-card .desc{
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: 600;
}
.pn-other-settings-options .postbox h2{
font-size: 16px; 
     padding: 8px 12px; 
     margin: 0; 
     line-height: 1.4;
 }
 .pn-field_wrap{
 	display:flex;margin-top: 10px;
 } .pn-field_wrap label{width:20%;}
 select#pn_push_on_category {
    margin-top: 5px;
}
#pn_connect {
    background-color: #fff;
    padding: 8px 20px 20px;
    margin-top: 35px;
    border: 1px solid #c3c4c7;
}
#segment_category_selector_wrapper {
	width: 18em;
	border: 1px solid #8c8f94;
	border-radius: 3px;
	padding: 10px 24px 10px 8px;
	margin-top: 5px;
}
#pn_help {
    background: #ffffff;
    border: 1px solid #c3c4c7;
    padding: 5px 25px 20px;
}
.button.pn-submit-button {
    color: #fff;
    background: #2271b1;
}
#dashboard_right_now .select2 li{
	width:auto;
}
#dashboard_right_now .select2 li>span:before{
content:'';
}